/* Leonel Gonzalez carrito de compras */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
h1 {
    margin-left: 43rem;
    color: rgb(175, 174, 174);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    position: fixed;
}
.logo {
    height: 2rem;
    width: 2rem;
}

figure{
  display: flex;
  margin-left: 45rem;
  height: 4rem;
  width: 4rem;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: rgb(30, 62, 62);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  box-shadow: 0px 5px 4px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}
/* carrito */
#boton-carrito {
  border: none;
  color: rgb(0, 0, 0);
  font-size: 40px;
  background-color: rgb(30, 62, 62);
  border-radius: 50%;
  transition: all 0.3s;
}
#boton-carrito:hover {
transform: scale(2);
}
img {
  width: 12rem;
  height: 16rem;
  margin-bottom: 10px;
}
.boton-eliminar {
  background-color: white;
  color: rgb(0, 0, 0);
  border: none;
  font-size: 20px;
}


.input {
  width: 50% !important;
}

.seleccion {
  text-align: center;
}
#selectMarca {
  width: 50%;
}

#boton-carrito:focus {
  outline: none;
}

#contenedor-productos {
  max-width: 1200px;
  margin: 60px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

p {
  line-height: 1.8;
}
.producto {
  max-width: 30%;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3);
}

select {
  display: inline;
  text-align: center;
  border: 1px solid rgb(0, 0, 0);
}
.modal-contenedor {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
}

.modal-active {
  opacity: 1;
  visibility: visible;
  z-index: 5;
}

.modal-carrito {
  position: relative;
  background-color: white;
  border: 1px solid rgb(0, 0, 0);
  min-width: 500px;
  padding: 20px;
  margin-top: -100%;
  transition: all 0.5s;
}

.modal-active .modal-carrito {
  margin-top: 0;
}

.modal-carrito h3 {
  color: rgb(0, 0, 0);
  padding-bottom: 5px;
}
.modal-carrito #carritoCerrar {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  color: rgb(0, 0, 0);
  border: none;
  background-color: white;
}
.modal-carrito #carritoCerrar:hover {
  cursor: pointer;
}
.modal-carrito #carritoCerrar:focus {
  outline: none;
}
.modal-carrito .precioProducto {
  padding-top: 10px;
}
.card .card-image .card-title {
  color: rgb(0, 0, 0);
  position: unset;
}

.productoEnCarrito {
  border-left: 5px solid lightblue;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  margin: 5px 0;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}
.productoEnCarrito:hover {
  border-left: 5px solid rgb(225, 76, 65);
}


.boton-eliminar:hover {
  cursor: pointer;
}
.boton-eliminar:focus {
  outline: none;
}
